.custom-social-bar {  position: fixed;  top: 0;  bottom: 0;  width: 100%;  z-index: 2;  pointer-events: none; }

.custom-social-bar .left-bar,
.custom-social-bar .right-icons {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  pointer-events: auto; 
}

.custom-social-bar .left-bar {
  left: 0;
  background: #F4F4F0;
  width: 99px;
  border-right: 1px solid #e0e0e0;
}

.custom-social-bar .left-bar img.fabpub-logo {
  max-height: 40px;
  margin-bottom: 20px;
}

.custom-social-bar .side-text {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #1E1E1E;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 1.2px;
  font-size: 12px;
  line-height: 120%;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  rotate: 180deg;
  margin-top: 220px;
}

.custom-social-bar .side-text strong {
  font-weight: bold;
}

.custom-social-bar .right-icons {
  right: 0;
  padding: 20px 10px;
  background: #F4F4F0;
  width: 101px;
  border-left: 1px solid #e0e0e0;
  gap: 20px;
}

.custom-social-bar .right-icons a {
  text-decoration: none;
  color: #121212;
  font-size: 20px;
}

.custom-social-bar .right-icons svg {
  fill: currentColor;
}

.social-icons-container {
  width: 51px;
  height: 168.5px;
  display: flex;
  flex-direction: column;
  gap: 28px;
  align-items: center;
}

section.custom-social-bar > .right-icons > .icon-container {
  display: flex !important;
  flex-direction: column !important;
  gap: 20px !important;
  align-items: center !important;
  position: static !important;
  top: auto !important;
  max-width: none !important;
}

@media screen and (max-width: 749px) {
  .custom-social-bar {
    display: none;
  }
}
