.rich-text__text.rte.scroll-trigger.animate--slide-in p {
    width: 100%;
    margin: 0 auto;
    padding: 0;
  } 

  .rich-text__blocks.center {
    text-align: center;
    max-width: 1480px;
    width: 100%;
  }
  
  @media (max-width: 749px) {
    .rich-text__blocks.center {
      max-width: 98vw;
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  
