.services-grid__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0;
  gap: 0;
  max-width: 100%;
}


#shopify-section-template--17343816925253__services_grid {
    margin-left: 49px;
    margin-right: 49px;
}

@media screen and (max-width: 749px) {
  .page-width {
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}

.services-grid__item {
  position: relative;
  display: flex;
  flex: 1;
  align-items: center;
  flex-direction: column;
  margin: auto;
  padding: 20px;
  height: 375px;
  max-width: 375px;
  gap: 12px;
}

.services-grid__item:nth-child(1) {
  background-color: #CAB99C;
}

.services-grid__item:nth-child(2) {
  background-color: #AAAE99;
}

.services-grid__item:nth-child(3) {
  background-color: #C2A28D;
}

.services-grid__item:nth-child(4) {
  background-color: #E5E3D7;
}

.services-grid__item-title {
  font-family: 'Source Serif 4', serif;
  font-weight: 400;
  font-size: 24px;
  font-style: italic;
  text-align: center;
  justify-self: center;
  max-width: 276px;
  margin: 0 auto;
  padding: 0;
}
@media screen and (max-width: 749px) {
  .services-grid__item-title {
    display: none;
  }
}

.services-grid__item-description {
  display: none;
}

.services-grid__item-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.services-grid__item-content svg {
  height: 24px;
  width: 24px;
  margin: 20px auto;
  display: block;
  stroke-width: 2px;
}
@media screen and (max-width: 749px) {

  .services-grid__item-content svg {
    display: none;
  }
}

.hover-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: inherit;
  margin: 0 auto;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  color: #121212;
  visibility: hidden;
  padding: 0 1.5rem; 
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  height: 100%;
}

@media screen and (max-width: 749px) {
  
  #shopify-section-template--17343816925253__services_grid {
    margin-left: 0;
    margin-right: 0;
  }
  
  .hover-content {
    position: relative;
    top: auto;
    left: auto;
    transform: none;
    width: 100%;
    padding: 0;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 375px;
    box-sizing: border-box;
  }

  .hover-content .button {
    max-width: 320px;
    min-width: 0;
    box-sizing: border-box;
  }
  .services-grid__container {
    display: flex;
    flex-direction: column;

  }
  .services-grid__item .hover-content {
    opacity: 1;
    visibility: visible;
    position: static;
    transform: none;
  }

  .services-grid__item-content .hover-content h2 {
      font-size: 24px;
  }
  .services-grid__item-content .hover-content p {
    font-size: 20px;
    min-width: 335px;
    height: 60px;
  }
    
  .hover-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px; 
  }

    
    .hover-content h2,
    .hover-content p {
      margin-bottom: 0;
      margin-top: 0;
    }

    .hover-content h2 {
      margin-top: 40px;
    }

    
    .hover-content .button {
      bottom: 40px;
    }
    .services-grid__item {
      width: 100%;
      max-width: 100%;
      margin: 0;
    }
  
}

@media screen and (min-width: 500px) {
  .services-grid__item:hover .services-grid__item-content > *:not(.hover-content) {
    opacity: 0;
  }
  .services-grid__item:hover .hover-content {
    opacity: 1;
    visibility: visible;
  }
}

.hover-content .button {
  background: #FFFFFF;
  border-radius: 100px;
  color: #1e1e1e;
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  border: 0.7px solid #1E1E1E;
  width: auto;
  min-width: 240px;
  width: auto;

  height: 59px;
  margin-top: 58px;
}

.hover-content .button:after {
  display: none;
}

.hover-content h2 {
  font-family: 'Source Serif 4', serif;
  font-weight: 700;
  font-style: italic;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: center;
}

.hover-content p {
  font-family: 'Source Serif 4', serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
}
 




