.banner {
  position: relative;
  display: flex;
  justify-content: flex-start; /* alineación izquierda */
  align-items: center;
  overflow: hidden;
  width: 100%;
  height: 60vw;
  max-height: 740px;
  min-height: 350px;
}

.banner__buttons .button {
  background-color: #CAB99C;
  border: 0.7px solid #1E1E1E;
  border-radius: 100px;
  height: 59px;
  width: 240px;
  font-weight: 400;
  font-size: 16px;
  font-family: 'Inter', sans-serif;
  color: #000000;
}

.banner__content .banner__box .banner__heading {
  margin-bottom: 24px;
  font-weight: 600;
  font-size: 48px;
  line-height: 1.1;
  color: white;
  font-family: 'Source Serif 4', serif;
  display: flex;
  width: 551px;
}

.banner__box {
  background: transparent;
  display: flex;
  flex-direction: column;
  text-align: start;
  margin-top: 40px;
}

.banner__media {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.banner__media img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.banner__content {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 90%;
  padding: 0 140px;
  text-align: left;
  bottom: 190px;
}

.banner--desktop-transparent .banner__box {
  padding: 4rem 0;
  background: transparent;
  max-width: 89rem;
  border: none;
  border-radius: 0;
  box-shadow: none;
}

.banner__box {
  background: transparent;
  max-width: 600px;
}

.banner__heading {
  margin-bottom: 1.5rem;
  font-weight: 600;
  font-size: 3rem;
  line-height: 1.1;
  color: white;
  font-family: 'Source Serif 4', serif;
}

.banner__heading strong {
  font-weight: bold;
}

.banner__buttons {
  display: flex;
  gap: 1rem;
}

.banner__buttons .button {
  background-color: #CAB99C;
  border: 0.7px solid #1E1E1E;
  border-radius: 100px;
  height: 59px;
  width: 240px;
  font-weight: 400;
  font-size: 16px;
  font-family: 'Inter', sans-serif;
  color: #000000;
}

/* MOBILE */
@media (max-width: 749px) {
  .banner {
    height: 575px;
  }

  .banner__content {
    align-items: center;
    text-align: center;
    padding: 2rem 1rem;
  }

  .banner__box {
    max-width: 335px;
  }

  .banner__heading {
    font-size: 2rem;
    width: 100%;
  }

  .banner__buttons .button {
    width: 178px;
    height: 50px;
    font-size: 14px;
  }
}




