.multicolumn {
  font-family: Source Serif 4;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  text-align: center;
  margin: 0 auto;
  width: 100%;
}
.multicolumn-list {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 0;
}

.page-width {
  max-width: 100%;
}

.multicolumn-list__item:nth-child(1) .multicolumn-card {
  background-color: #cab99c;
  height: 310px;
}
.multicolumn-list__item:nth-child(2) .multicolumn-card {
  background-color: #aaae99;  
  height: 310px;
}
.multicolumn-list__item:nth-child(3) .multicolumn-card {
  background-color: #c2a28d;
  height: 310px;
}
.multicolumn-list__item:nth-child(4) .multicolumn-card {
  background-color: #e5e3d7;
  height: 310px;
}

@media screen and (max-width: 989px) {
  .multicolumn .page-width {
    padding-left: 0;
    padding-right: 0;
  }
}

.multicolumn-card__image-wrapper--third-width {
  width: 33%;
}

.multicolumn-card__image-wrapper--half-width {
  width: 50%;
}



.multicolumn-list__item.center .multicolumn-card__image-wrapper:not(.multicolumn-card__image-wrapper--full-width),
.multicolumn-list__item:only-child {
  margin-left: auto;
  margin-right: auto;
}

.multicolumn .button {
  margin-top: 1.5rem;
}

@media screen and (min-width: 750px) {
  .multicolumn .button {
    margin-top: 4rem;
  }
}

.multicolumn-list {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.multicolumn-list__item:only-child {
  max-width: 72rem;
}

.multicolumn-list__item--empty {
  display: none;
}

.multicolumn:not(.background-none) .multicolumn-card {
  background: rgb(var(--color-background));
  height: 100%;
}

.multicolumn.background-primary .multicolumn-card {
  background: rgb(var(--color-background))
    linear-gradient(rgba(var(--color-foreground), 0.04), rgba(var(--color-foreground), 0.04));
}

.multicolumn-list h3 {
  line-height: calc(1 + 0.5 / max(1, var(--font-heading-scale)));
}

.multicolumn-list h3,
.multicolumn-list p {
  margin: 0;
}

.multicolumn-card__info {
  padding: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.multicolumn-card__info .rte {
  font-family: 'Source Serif 4', serif;
  font-weight: 400;
  font-size: 24px;
  font-style: normal;
  text-align: center;
  width: 100%;
  margin: 0;
  padding: 0;
}

.multicolumn-card__info .rte svg {
  height: 24px;
  width: 24px;
  margin: 20px auto;
  display: block;
  stroke-width: 2px;
}

.multicolumn-card-spacing {
  padding-top: 2.5rem;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

.multicolumn-card__info > :nth-child(2) {
  margin-top: 1rem;
}

.multicolumn-list__item.center .media--adapt,
.multicolumn-list__item .media--adapt .multicolumn-card__image {
  width: auto;
}

.multicolumn-list__item.center .media--adapt img {
  left: 50%;
  transform: translateX(-50%);
}

@media screen and (max-width: 749px) {
  .multicolumn-list {
    margin: 0;
    width: 100%;
  }

  .multicolumn-list:not(.slider) {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media screen and (min-width: 750px) and (max-width: 989px) {
  .multicolumn-list:not(.slider) {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

@media screen and (min-width: 750px) {
  .multicolumn-list.slider {
    padding: 0;
  }

  .multicolumn-list__item,
  .grid--4-col-desktop .multicolumn-list__item {
    padding-bottom: 0;
  }

  .background-none .grid--2-col-tablet .multicolumn-list__item {
    margin-top: 4rem;
  }
}

.background-none .multicolumn-card-spacing {
  padding: 0;
  margin: 0;
}

.background-none .multicolumn-card__info {
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
}

.background-none .slider .multicolumn-card__info {
  padding-bottom: 0;
}

.background-none .multicolumn-card__image-wrapper + .multicolumn-card__info {
  padding-top: 2.5rem;
}

.background-none .slider .multicolumn-card__info {
  padding-left: 0.5rem;
}

.background-none .slider .multicolumn-card__image-wrapper + .multicolumn-card__info {
  padding-left: 1.5rem;
}

.background-none .multicolumn-list:not(.slider) .center .multicolumn-card__info {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

@media screen and (max-width: 749px) {
  .background-none .slider .multicolumn-card__info {
    padding-bottom: 1rem;
  }

  .multicolumn.background-none .slider.slider--mobile {
    margin-bottom: 0rem;
  }
}

@media screen and (min-width: 750px) {
  .background-none .multicolumn-card__image-wrapper {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }

  .background-none .multicolumn-list .multicolumn-card__info,
  .background-none .multicolumn-list:not(.slider) .center .multicolumn-card__info {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

.multicolumn-card > .multicolumn-card__image-wrapper--full-width:not(.multicolumn-card-spacing) {
  border-top-left-radius: calc(var(--text-boxes-radius) - var(--text-boxes-border-width));
  border-top-right-radius: calc(var(--text-boxes-radius) - var(--text-boxes-border-width));
  overflow: hidden;
}

.multicolumn.background-none .multicolumn-card {
  border-radius: 0;
}

.multicolumn-card__info .link {
  text-decoration: none;
  font-size: inherit;
  margin-top: 1.5rem;
}

.multicolumn-card__info .icon-wrap {
  margin-left: 0.8rem;
  white-space: nowrap;
}

@media screen and (min-width: 990px) {
  .multicolumn-list__item--empty {
    display: list-item;
  }
}




.title.inline-richtext.h1 {
  font-family: 'Source Serif 4', serif;
  font-weight: 600;
  font-size:42px;
  line-height: 1.2em;
  text-align: center;
  margin: 0 auto;
}

.page-width.section-template--17343816925253__multicolumn_CBTTnr-padding .center .button.button--primary {
  background-color: #000000;
  color: #FFFFFF;
  border: none;
  border-radius: 100px;
  padding: 20px 40px;
  height: 59px;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 400;
  opacity: 1;
  cursor: pointer;
}

.title.inline-richtext.h2 {
  font-family: 'Source Serif 4';
  font-style: italic;
  font-weight: 400;
  font-size: 26px;
  line-height: 120%;
  text-align: center;
  color: #121212;
  margin-bottom: 40px;
}

.page-width.section-template--17343816925253__multicolumn_QNhjWj-padding.isolate.scroll-trigger.animate--slide-in,
.rich-text.content-container.color-scheme-1.gradient.rich-text--full-width.content-container--full-width.section-template--17343816925253__rich_text_ViRdJb-padding {
  background: #CAB99C;
}

.multicolumn-card {
  position: relative;
  height: 310px;
}

.hover-content {
  display: none;
  position: absolute;
  top: 20px;
  max-width: 310px;
  max-height: 310px;
  background: inherit;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  color: #121212;
}

.hover-content h2 {
  font-family: 'Source Serif 4', serif;
  font-weight: 700;
  font-style: italic;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 30px;
}

.hover-content p {
  font-family: 'Source Serif 4', serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
}

.hover-content .button {
  background: #FFFFFF;
  border-radius: 100px;
  color: #1e1e1e;
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  border: 0.7px solid #1E1E1E;
  width: 240px;
  height: 59px;
}

.hover-content .button:after {
  display: none;
}

/* Hover effect. 
Cuando el usuario pasa el cursor sobre .multicolumn-card, 
todos los elementos dentro de .rte 
(excepto los que tienen la clase .hover-content) se vuelven transparentes (opacity: 0).
 */
.multicolumn-card:hover .rte > *:not(.hover-content) {
  opacity: 0;
}

/* Cuando el usuario pasa el cursor sobre .multicolumn-card, 
el contenido de .hover-content se vuelve visible (opacity: 1) y se muestra como un flex container.
 */
.multicolumn-card:hover .hover-content {
  opacity: 1;
  display: flex;
}


#Slider-template--17343816925253__multicolumn_NJJj9F .multicolumn-card__info {
  position: relative;
  background: #000000;
  width: 100%;
  height: 68px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#Slider-template--17343816925253__multicolumn_NJJj9F .multicolumn-card__info h3 {
  color: #FFFFFF;
  font-family: 'Source Serif 4', serif;
  font-style: italic;
  font-size: 24px;
  line-height: 1.2;
  font-weight: 400;
  text-align: center;
  
}

#Slider-template--17343816925253__multicolumn_NJJj9F .multicolumn-card__image-wrapper {
  position: relative;
  width: 100%;
  
  
}

#Slider-template--17343816925253__multicolumn_NJJj9F .multicolumn-card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}



