.services-grid__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  
}

.page-width {
  max-width: calc(100% - 100px);
}
@media screen and (max-width: 749px) {
  .page-width {
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}

.services-grid__item {
  position: relative;
  display: flex;
  height: 310px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.services-grid__item:nth-child(1) {
  background-color: #CAB99C;
}

.services-grid__item:nth-child(2) {
  background-color: #AAAE99;
}

.services-grid__item:nth-child(3) {
  background-color: #C2A28D;
}

.services-grid__item:nth-child(4) {
  background-color: #E5E3D7;
}

.services-grid__item-title {
  font-family: 'Source Serif 4', serif;
  font-weight: 400;
  font-size: 24px;
  font-style: italic;
  text-align: center;
  max-width: 276px;
  display: flex;
  margin: 0 auto;
  padding: 0;
}



.services-grid__item-description {
  display: none;
}

.services-grid__item-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.services-grid__item-content svg {
  height: 24px;
  width: 24px;
  margin: 20px auto;
  display: block;
  stroke-width: 2px;
}

@media screen and (max-width: 989px) {
  .services-grid__container {
    grid-template-columns: repeat(2, minmax(250px, 1fr)); /* Ajuste dinámico */
    grid-auto-flow: row; /* Asegura una correcta distribución */

  }
}

@media screen and (max-width: 749px) {
  .services-grid__container {
    grid-template-columns: 1fr;
  }

  .services-grid__item {
    min-height: auto;
    padding: 1.5rem;
  }
} 

.hover-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: inherit;
  margin: 0 auto;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  color: #121212;
  visibility: hidden;
  padding: 0 1.5rem; /* Menos padding para evitar desbordes */
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  height: 100%;
}
@media screen and (max-width: 768px) {
  .hover-content {
    position: relative;
    top: auto;
    left: auto;
    transform: none;
    width: 100%;
    max-width: 100%;
    padding: 10px;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    margin-bottom: 80px;
  }
}

/* Hover effect. 
Cuando el usuario pasa el cursor sobre .multicolumn-card, 
todos los elementos dentro de .rte 
(excepto los que tienen la clase .hover-content) se vuelven transparentes (opacity: 0).
 */
 .services-grid__item:hover .services-grid__item-content > *:not(.hover-content) {
  opacity: 0;
}

/* Cuando el usuario pasa el cursor sobre .multicolumn-card, 
el contenido de .hover-content se vuelve visible (opacity: 1) y se muestra como un flex container.
 */
.services-grid__item:hover .hover-content {
  opacity: 1;
  visibility: visible;
}

.hover-content .button {
  background: #FFFFFF;
  border-radius: 100px;
  color: #1e1e1e;
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  border: 0.7px solid #1E1E1E;
  width: 240px;
  height: 59px;
  margin-top: 58px;
}

.services-grid__container .services-grid__item:nth-child(2) .hover-content .button {
  bottom: 0px;
  top: 25px;
  position: relative;
}

.hover-content .button:after {
  display: none;
}

.hover-content h2 {
  font-family: 'Source Serif 4', serif;
  font-weight: 700;
  font-style: italic;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 30px;
}

.hover-content p {
  font-family: 'Source Serif 4', serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .hover-content {
    position: relative;
    width: 100%;
    padding: 10px;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
  

  .hover-content h2 {
    font-size: clamp(18px, 5vw, 24px); /* Mínimo 18px, máximo 24px */
  }
  
  .hover-content p {
    font-size: clamp(14px, 4vw, 20px);
  }
  
  .hover-content .button {
    font-size: clamp(12px, 4vw, 16px);
  }
  


@media screen and (max-width: 749px) {
  .services-grid__item {
    height: auto;
    padding: 2rem;
  }
}
